@import "../../styles/variables";

.header {
  width: 100%;
  background: $dark1;
  padding: 34px 50px 47px 50px;
  display: flex;
  gap: 40px;
  &-title {
    color: $white;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    letter-spacing: -0.3px;
    font-feature-settings: "pnum" on, "lnum" on;
  }
  &-close {
    margin-top: 16px;
    button {
      width: 40px;
      height: 40px;
      font-size: 27px;
      padding: 0;
      color: $white;
      svg {
        width: 27px;
        height: 27px;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.04);
      }
    }
  }
}
