@import "../../styles/variables";

.header {
  width: 100%;
  background: $dark1;
  padding: 17px 25px 24px 25px;
  display: flex;
  gap: 20px;
  &-title {
    color: $white;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.3px;
    font-feature-settings: "pnum" on, "lnum" on;
  }
  &-close {
    margin-top: 8px;
    button {
      width: 20px;
      height: 20px;
      font-size: 14px;
      padding: 0;
      color: $white;
      img {
        width: 14px;
        height: 14px;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.04);
      }
    }
  }
}
