@import "../../styles/variables";

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  background: $white;
  border-top: 1px solid $border-color;
  button {
    text-transform: capitalize;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -0.3px;
  }
  &-previous {
    color: $dark1 !important;
    padding: 0 !important;
    font-weight: 500;
  }
  &-next {
    padding: 15px 43px !important;
    background: $blue !important;
    border-radius: 6px;
    font-weight: 600;
  }
}
